body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

label, input, textarea {
    display: block;
    width: 100%;
}

textarea {
    height: 280px;
}

button, input, textarea, select {
    border: 1px solid #555;
    border-radius: 2px;
    font-size: 1.2rem;
    padding: 7px;
}

h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #555;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #777;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

label, button, p.label {
    margin-top: 12px;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding-top: 15px;
}

.type-explorer {
    width: 350px;
    margin-right: 7px;
    float: left;
}

.type-experimenter {
    float: left;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #aaa;
    width: 560px;
}

.field-info {
    font-size: .9rem;
}

#test-run-output > pre {
    padding: 20px 0 20px 0;
    font-size: 1.2rem;
}

#test-run-output > pre.error {
    color: #992233;
}

.type-string {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}